body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.span1 {
    color: orange;
}

#sec1 {

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.half-width #my-pic {
    width: 100%;
}


.dream-big {

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;


}

#para-2 {
    padding-right: 150px;

}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.link-button {
    text-decoration: none;
    background: linear-gradient(90deg, orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;

}

body {
    margin: 0px;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.flex-container {
    display: flex;
    margin-bottom: 150px;
}

#fwd {
    border-left: 10px solid tomato;
}

#bwd {
    border-left: 10px solid rgb(0, 26, 255);
}

.box {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 10px grey;
    padding: 10px;
    padding-left: 20px;
    border-radius: 6%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

footer p {
    text-align: center;
}